<style type="text/css">
  
 body{
  background: url('../img/2.jpg') no-repeat;
  background-size: cover;
  font-family: 'Arvo', serif;
  overflow-x:hidden;
  height: 100%;
}
button
{

}

</style>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="confirmController" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"> </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://test.shuttlescrap.com/" style="color:#22aa86;font-size:30px"><span>
          <img src="img/1.png" width="30" height="30" alt="">
      </span>Shuttlescrap.com</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-secondary navbar-btn" ng-click="shuttleScrap_confirm()" style="color:white;background-color:rgb(251, 118, 27); font-size: 18px;">Post to ShuttleScrap.com</button>
       <!-- <button class="btn btn-secondary navbar-btn"  ng-click="bloodport_confirm()" style="color:white;background-color:rgb(251, 118, 27)">Post to BloodPORT</button>-->
        <button class="btn btn-secondary navbar-btn"  ng-click="logOut()" style="color:white;background-color:rgb(251, 118, 27);font-size: 18px;">Logout</button>
      </ul>
    </div>
  </div>
</nav>



<div class="container" style="padding-top:80px;padding-bottom:50px">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10  col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-12">
            <h3 class="heading">A Practical Blog for Impractical People, Write your post here!!</h3>
            <text-angular name="htmlcontenttwo" ng-model="post.htmlcontenttwo" id="main_editor">
            </text-angular>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-12">
        <h3  class="heading" >Live Preview</h3>
        <pre id="preview" ta-bind="text" ng-model="post.htmlcontenttwo" ta-readonly='disabled' style="background-color: white"></pre>
      </div>
    </div>
        
        
   
</div>
    