 <div class="row">
      <div class="brand">
        <a href="https://test.shuttlescrap.com/" target="_blank" class="company_name"><span><img src="img/1.png" width="30" height="30" alt=""></span>ShuttleScrap.com</a>
        <div class="divider"></div>
        <div class="slogan">Go Green, encash your Trash</div>
      </div>
    </div>
<div class="login_div col-md-offset-4 col-md-4">
<div class="row">
    <h2 style="text-align:center">LOGIN</h2>
</div>
  <div class="row">
    <div class="col-md-12 col-sm-12 myForm">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user_email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user_password">
        </div>
        <div class="mybtn">
          <button type="button" class="btn btn-secondary btn-lg btn-block" style="background-color:rgb(251, 118, 27)" ng-click="showEditor()">Login</button>
        </div>
         <!--<a href="#"><p class="center" style="color: white">Forgot Password?</p></a>-->

      </form>
    </div>
  </div>
</div>