
<div class="login_div col-md-offset-4 col-md-4">
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>LOGIN</h2>
  </div>
</div>
  <div class="row">
    <div class="col-md-12 myForm">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user_email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user_password">
        </div>
        <div class="mybtn">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showEditor()">Login</button>
        </div>
         <a href="#"><p class="center" style="color: white">Forgot Password?</p></a>

      </form>
    </div>
  </div>
</div>